.container-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    text-align: center;

}

.container-info-pokemon {
    color: white;
    font-size: 18px;
    border: solid 2px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    text-align: center;
    background-color: rgba(24, 109, 7, 0.808);
}

.btn-ver{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px;
    color: white;
    background-color: black;
}

.container-father{
    text-align: center;
}